html,
body {
  height: 100%;
  margin: 0;
  overflow-y: auto;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

}

body[data-theme='dark'] {
  font-family: "Roboto", sans-serif;
  background-color: #1f1e1e;
  color: white;
}

body[data-theme='light'] {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  color: rgb(85, 82, 82);
}

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 3px solid #f0f0f0;
  background-color: #00e67a;
}

body::-webkit-scrollbar-track {
  background-color: #1f1f1f;
  border-radius: 6px;
}

body[data-theme='dark']::-webkit-scrollbar-thumb {
  background-color: #00e67a;
  border-color: #1f1f1f;
}

body[data-theme='dark']::-webkit-scrollbar-track {
  background-color: #1f1f1f;
}

body[data-theme='light']::-webkit-scrollbar-thumb {
  background-color: #00c46a;
  border-color: #f5f5f5;
}

body[data-theme='light']::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  margin: 10px;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
}